@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url(./imagenes/powerslidewallpaper.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: rgba(165, 42, 42, 0.842);
    display: flex;
}

#logo {
    width: 80px;
    border-radius: 100%;
    margin: 8px;
    box-shadow: 3px 3px 2px 1px rgb(80, 40, 40);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.navbarbtn{
    margin: 15px;
    cursor: pointer;
    border: none;
    background-color: rgba(165, 42, 42, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: blanchedalmond;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 196, 0);
    text-decoration: underline;
    transition: 0.4s;
    font-size: 21px;

}

/* SECTION PRESENTACION */

.presentacion {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

h1 {
    font-family: 'Smooch', cursive;
    font-size: 50px;
    margin: 10px;
}

article {
    width: 600px;
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: blanchedalmond;
    color: black;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 15px 15px 10px 5px;
    align-items: center;
}

.slogan {

    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    color: brown;
    width: 500px;

}

div {
    display: flex;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
    background-color: brown;
    -webkit-text-stroke: .5px blanchedalmond;
    border-radius: 15px;
    text-transform: uppercase;
    margin: 15px;
    cursor: pointer;
    gap: 20px;
    /*este gap no me hace nada y no sé por qué*/
}

.fotoroller {
    border-radius: 25px;
    box-shadow: 15px 15px 10px 5px;
}

/* SECTION CONOCENOS */

#conocenos {
    padding: 2rem;
    text-align: center;
    margin: 100px 70px;
    padding: 30px 100px;
    border: 1px solid black;
    background-color: blanchedalmond;
    border-radius: 25px;
    box-shadow: 15px 15px 10px 5px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #080d3b;
}

span {
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: #080d3b;
}

/* SECTION PRODUCTOS (CARDS) */

#productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    margin: 100px 70px;
    padding: 30px 0;
    background-color: blanchedalmond;
    border-radius: 25px;
    box-shadow: 15px 15px 10px 5px;
}

.titulo2 {
    font-family: 'Smooch', cursive;
    font-size: 60px;
    margin: 10px;
    text-decoration: underline;
    margin: 30px;
}

#elegir {
    color: brown;
    background-color: rgba(255, 235, 205, 0);
    margin: 100px;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.card {
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    margin: 4rem;
    align-items: center;
}

.img-card {
    margin: 20px;
    cursor: pointer;
    width: 15rem;
    border-radius: 50px;
    box-shadow: 0px 2px 6px;
}


.fototipos {
    width: 70%;
    margin: 40px;
}


@media (max-width: 1599.99px) {
    article {
        width: 40%;
        height: 60%;
    }

    .slogan {
        font-size: 30px;
        width: 70%;
    }

    .fotoroller {
        width: 27%;
        height: 60%;
    }
}

/* SECTION CONTACTO - FOOTER */

footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.74);
}

.ubication {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(46, 41, 28);
    padding: 1em;
    margin: 1.5em;
}

.ubication p{
    text-decoration: underline;
    margin-bottom: 2rem;
}

.ubication a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    margin: 5px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contact-us p{
    text-decoration: underline;
    margin-bottom: 2rem;
}

.contact-us ul {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    gap: 15px;
}

.contact-us ul li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-size: 1.2rem;
}

.map{
    display: flex;
    flex-direction: column;

}

.map p{
    text-decoration: underline;
    margin-bottom: 2rem;
}